#stamp-hiring {
  position: absolute;
  top: 225px;
  text-align: center;
}

#stamp-hiring img {
  width: 78px;
  margin-bottom: 20px;
}

#offer-hiring {
  margin-top: 264px;
  padding-top: 55px;
}

#offer-hiring .offer-details {
  margin-top: 0;
  max-width: 921px;
}

#methodo {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

#methodo div {
  margin: 0 15px 150px;
  max-width: 1200px;
}

#methodo p, #methodo ul {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 1em;
  line-height: 132,4%;
}

#methodo p {
  margin-top: 45px;
  font-weight: 700;
}

#methodo .methodo-title {
  margin-top: 10px;
  max-width: min-content;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 105%;
  color: #E9E9F1;
  border-bottom: solid 3px #22FFCA;
}

#methodo .methodo-title:first-child {
  padding-top: 20px;
  border-top: solid 3px #22FFCA;
}

#methodo ul {
  font-weight: 500;
  padding: 0;
}

#methodo li {
  margin: 1em 15px;

}

@media (min-width: 400px) {
  #methodo .methodo-title {
    font-size: 4em;
  }
}

@media (min-width: 576px) {
  #methodo p, #methodo ul {
    font-size: 1.2em;
  }

  #methodo .methodo-title {
    font-size: 5em;
  }

  #methodo li {
    margin: 1.2em 20px;
  }
}

@media (min-width: 768px) {
  #stamp-hiring {
    top: 450px;
  }

  #stamp-hiring img {
    width: 157px;
  }

  #offer-hiring {
    margin-top: 528px;
    padding-top: 90px;
  }

  /* #about-separator span {
    margin: 0 30px;
  } */

  #methodo div {
    margin: 0 30px 200px;
  }

  #methodo p, #methodo ul {
    font-size: 1.4em;
  }

  #methodo .methodo-title {
    font-size: 7em;
  }

  #methodo p {
    margin-top: 65px;
  }

  #methodo li {
    margin: 1.4em 20px;
  }
}

@media (min-width: 981px) {
  #offer-hiring .offer-details {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  #methodo p, #methodo ul {
    font-size: 1.875em;
  }

  #methodo .methodo-title {
    font-size: 8.625em;
  }

  #methodo li {
    margin: 1.4em 30px;
  }
}

@media (min-width: 1260px) {
  #methodo div {
    margin: 0 auto 200px;
  }
}
