#stamp-hiring {
  position: absolute;
  top: 225px;
  text-align: center;
}

#stamp-hiring img {
  width: 78px;
  margin-bottom: 20px;
}

#offer-hiring {
  margin-top: 264px;
  padding-top: 55px;
}

#offer-hiring .offer-details {
  margin-top: 0;
  max-width: 921px;
}

#methodo {
  background-color: #fff;
  width: 100%;
}

.methodo-title {
  padding: 0 15px;
  margin: 0 auto;
  width: min-content;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  line-height: 105%;
  color: #E9E9F1;
}

.methodo-title span {
  display: block;
  width: 100%;
  border-bottom: solid 3px #22FFCA;
}

.methodo-title span:first-child {
  padding-top: 20px;
  border-top: solid 3px #22FFCA;
}

.methodo-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 921px;
  margin: 50px 15px;
}

.methodo-content p, .methodo-content ul {
  margin: 0 auto;
}

.methodo-content p {
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1em;
  line-height: 145.893%;
}

.methodo-content ul {
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 0.875em;
}

.methodo-content li {
  margin-bottom: 0.875em;
}

@media (min-width: 400px) {
  .methodo-title {
    font-size: 4em;
  }
}

@media (min-width: 576px) {
  .methodo-title {
    font-size: 5em;
  }

  .methodo-content {
    flex-wrap: nowrap;
  }

  .methodo-content p {
    min-width: min-content;
    max-width: 33.333%;
    padding-right: 22px;
    font-size: 1.281em;
  }

  .methodo-content ul {
    font-size: 1em;
    padding-left: 22px;
  }

  .methodo-content li {
    margin-bottom: 1em;
  }
}

@media (min-width: 768px) {
  #stamp-hiring {
    top: 450px;
  }

  #stamp-hiring img {
    width: 157px;
  }

  #offer-hiring {
    margin-top: 528px;
    padding-top: 90px;
  }

  /* #about-separator span {
    margin: 0 30px;
  } */

  .methodo-title {
    font-size: 7em;
  }

  .methodo-content {
    margin: 80px 30px;
  }

  .methodo-content p {
    font-size: 1.75em;
  }

  .methodo-content ul {
    font-size: 1.25em;
  }

  .methodo-content li {
    margin-bottom: 1.25em;
  }
}

@media (min-width: 981px) {
  #offer-hiring .offer-details {
    margin: 0 auto;
  }

  .methodo-content {
    margin: 80px auto;
  }

  .methodo-title {
    font-size: 8.625em;
  }
}
