html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  background-color: rosybrown;
  display: flex;
  justify-content: center;
}

  .navbar {
    background-color: yellow;
    display: flex;
    flex-grow: 1;
    max-width: 992px;
    justify-content: space-between;
  }

    .left-items {
      background-color: tan;
    }

      .logo {
        background-color: tomato;
      }

    .right-items {
      background-color: teal;
      display: flex;
    }

      .lg-toggle {
        background-color: wheat;
      }

      .burger {
        background-color: yellowgreen;
      }

#main-container {
  background-color: sandybrown;
  display: flex;
  justify-content: center;
}

  .content {
    background-color: royalblue;
    flex-grow: 1;
    max-width: 992px;
    height: 500px;
  }

#footer {
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

  .footer-content {
    background-color: salmon;
    flex-grow: 1;
    max-width: 992px;
  }
