html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

  .overflow-y-hiden {
    overflow-y: hidden;
    position: relative;
    height: 100%;
  }


nav-menu {
  background-color: red;
}


header {
  background-color: rosybrown;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

#header {
  background-color: yellow;
  display: flex;
  flex-grow: 1;
  max-width: 992px;
  justify-content: space-between;
}

  .left-items {
    background-color: tan;
  }

    #brand {
      background-color: tomato;
    }

  .right-items {
    background-color: teal;
    display: flex;
  }

    .lg-toggle {
      background-color: wheat;
    }

    #burger {
      background-color: yellowgreen;
    }

nav {
  background-color: rgba(55, 133, 89, 0.5);
  position: absolute;
  left:0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .hidden {
    visibility: hidden;
  }

  /* #close {
    background-color: sienna;
  } */

  /* .menu-items {
    background-color: slateblue;
  } */

main {
  background-color: sandybrown;
  display: flex;
  justify-content: center;
}

  .content {
    background-color: royalblue;
    flex-grow: 1;
    max-width: 992px;
    height: 2000px;
  }

footer {
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

  .footer-content {
    background-color: salmon;
    flex-grow: 1;
    max-width: 992px;
  }
