html {
  background-color: #F1F1F1;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: url(../img/m_char.svg) top right no-repeat;
  background-attachment: fixed;
}

  .overflow-y-hiden {
    overflow-y: hidden;
    position: relative;
    height: 100vh;
  }

nav-menu {
  /* background-color: red; */
}

header {
  
  background: url(../img/m_char_header.svg) top right no-repeat;
  background-attachment: fixed;
  background-color: #F1F1F1;
  position: fixed;
  /* top: 0; */
  display: flex;
  justify-content: center;

  width: 100vw;
  z-index: 1000;
}

#header {
  /* background-color: yellow; */
  display: flex;
  flex-grow: 1;
  max-width: 1200px;
  justify-content: space-between;
}

  .left-items {
    /* background-color: tan; */
  }

    #brand {
      /* background-color: tomato; */
      margin: 50px 30px;
      height: 83px;
    }

  .right-items {
    /* background-color: teal; */
    display: flex;
    align-items: center;
  }

  #burger, .lg-toggle {
    margin: auto 20px;
  }

    #burger {
      /* background-color: yellowgreen; */
    }

    .lg-toggle {
      /* background-color: wheat; */
    }

nav {
  /* background-color: rgba(55, 133, 89, 0.5); */
  position: absolute;
  left:0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .hidden {
    visibility: hidden;
  }

  /* #close {
    background-color: sienna;
  } */

  /* .menu-items {
    background-color: slateblue;
  } */

  .active {
    color: red;
  }

main {
  /* background-color: sandybrown; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

  h1 {
    position: absolute;
    top: 350px;
    max-width: 1200px;
    margin: 0 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 132.4%;
  }

  #offer {
    background-color: white;
    margin-top: 565px;
    padding-top: 220px;
    padding-bottom: 110px;
    width: 100vw;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
  }

    .triangle {
      /* background-color: red; */
      text-align: center;
      margin-bottom: 30px;
    }

      .triangle svg path {
        fill:#3622B4;
      }

    .offer-details {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 800;
    }

    .mngt {
      /* background-color: violet; */
    }

      .number {
        font-size: 7.13em;
        color: rgba(228, 228, 228, 0.5);
        line-height: 100%;
      }

        .nb-01 {
          text-align: right;
        }

      .mngt-label {
        font-size: 1.46em;
        color: black;
        line-height: 132.4%;
        margin: 0 8px;
      }

        .top {
          text-align: right;
        }

    .cross {
      /* background-color: teal; */
      margin: 0 55px;
    }

    .btn {
      background: url(../img/btn.svg) center no-repeat;
      margin-top: 75px;
      height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      color: #3622B4;
      font-size: 1em;
      line-height: 55px;
      z-index: 1000;
    }

  #referees {
    background-color: #F1F1F1;
    /* padding-top: 125px;
    padding-bottom: 155px; */
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
  }
    .watermark {
      background-color: red;
      /* max-height: 376px; */
      /* max-width: 789px; */
      background: url(../img/ref_filigranne_fr.png) center no-repeat;
      background-size: contain;
      margin-top: 125px;
      margin-bottom: 155px;
    }

    .referees-list {
      margin: 30px auto;
      /* background-color: blueviolet; */
      display: flex;
      max-width: 1200px;
      align-items: center;
    }

    .logo-ref {
      /* background-color: red; */
      margin: auto 15px;
      flex-grow: 1;
      flex-basis: 0;
      height: 112px;
      display: flex;
    }

    .logo-ref img {
      display: block;
      margin: auto;
      max-height: 100%;
      max-width: 100%;
    }

footer {
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

  .footer-content {
    background-color: salmon;
    flex-grow: 1;
    max-width: 992px;
  }
